key.py
uploads
test.py
train.py
data
testing
test_usage_guide.md
deepphish.py
testing.py
virusTotal\
phishing_model_fast
.env
CODE_WALKTHROUGH.md
GMAIL_EXTENSION_GUIDE.md
PIPFILE
PIPFILE.lock
requirements.txt
README_training.md
test_usage_guide.md
test.py
train.py
data
testing
test_usage_guide.md
deepphish.py
testing.py
virusTotal\
phishing_model_fast
SETUP_GUIDE.md
SETUP_SUPABASE.md
dnn.ipynb
phishing_csv_analysis.ipynb
requirements.txt
*.md
*.sql
