FastAPI

scikit-learn
pandas
numpy
email-validator
pytest
Forms
UploadFile
pytest-cov
black
flake8
mypy
httpx
python-multipart
jinja2
uvicorn
requests
beautifulsoup4
lxml
tldextract
pytest-asyncio
aiodns
aiohttp
email
dnspython
yarl
pytest-mock
asynctest
pytest-aiohttp
pytest-httpx
python-dotenv
pyspark
loguru
gunicorn
pytest-cases
pytest-xdist
pytest-html
pytest-cov
coverage
pytest-mock

